{% extends "admin/base.html" %}
{% block content %}

  {% if form.errors %}
    <p class="error">错误的用户名或密码, 请重新输入!</p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
    <label for="username">用户名:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">密码:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="登录" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
    <input type="button" value="注册" onclick="location.href='/importinfo/register'">
  </form>

{% endblock %}
